.no-polls-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;    
}

.load-more-polls {
    text-align: center;
    margin-bottom: 40px;    
}

.post-cards {
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
}

.post-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  margin: 10px 5px 5px 10px;
  border-radius: 5px;
  height: 513px;
  width: 60%;
  /* overflow: hidden; */
  display: flex;
}

/* Add rounded corners to the top left and the top right corner of the image */
.movie-poster {
  border-radius: 5px;
  width: 342px;
  /* flex: 1; */
}

.movie-details {
  padding: 10px;
  flex: 1;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 0 6px 6px rgba(72, 72, 72, 0.7);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  /* margin: 10px;
  padding: 10px; */
  text-align: justify;
}


.post-attendee {
  background-color: orange;
}