.movie-cards {
  text-align: center;
  width: 100%;
  flex: 1;
  overflow: hidden;
  display: block;
}

.movie-card {
  transition: 0.3s;
  margin: 10px 5px 5px 10px;
  border-radius: 5px;
  height: 513px;
  width: 342px;
  display: inline-block;
}

.movie-poster {
  border-radius: 5px;
  float: middle;
  height: 100%;
  width: 100%; 
  object-fit: cover;
  overflow: hidden;
}

.movie-card:not(.selected-card) {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.movie-card.selected-card {
  /* filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg); */
  box-shadow: 0 4px 8px 0 rgb(33, 103, 19);
}

/* On mouse-over, add a deeper shadow */
.movie-card:hover {
  box-shadow: 0 0 6px 6px rgba(72, 72, 72, 0.7);
}

.searching-container {
  display: block;
  min-height: 100%;
}