.search-container {
    /* margin: 30px; */
    text-align: center;
    margin-bottom: 10px;
}

.search-bar {
    height: 50px;
    width: 40%;
    font-size: 1.75em;
    vertical-align: bottom;
    outline: none;
    color: darkgreen;
    border: 0;
    border-bottom: 2pt solid darkgreen;
    /* padding-left: 10px; */
}

.search-button {
    height: 50px;
    vertical-align: middle;
    /* padding: 10px; */
    padding: 0;
    vertical-align: bottom;
    outline: none;
    cursor: pointer;
    color: darkgreen;
    border: 0;
    border-bottom: 2pt solid darkgreen;
    font-size: 1.45em;
}

::placeholder {
    color: lightgray;
}