.movie-cards {
    text-align: center;
    width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  margin: 10px 5px 5px 10px;
  border-radius: 5px; /* 5px rounded corners */
  /* width: 25%; */
  height: 513px;
  display: inline-block;
}
/* 
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px;
  float: middle;
  height: 100%;
  width: 100%; 
  object-fit: cover;
  overflow: hidden;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.7);
}

/* Add some padding inside the card container */