.pane-contents {
    background-color: white;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100%;
}

.post-content {
    display: grid;
    grid-template-areas: "main-content sidebar";
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr;
    overflow: auto;
    grid-gap: 10px;
    max-height: 100%;
    padding: 10px;
}

.main-content {
    grid-area: main-content;
    overflow-y: scroll;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar-content { 
    grid-area: sidebar; 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}