
.pane-contents {
    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: 100vh; */
    margin: 0;
    padding: 20px;
}

.post-content {
    display: grid;
    grid-template-areas: "main-content sidebar";
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: calc(100vh - 56px);
}

.main-content { 
    /* justify-self: center; */
    grid-area: main-content; 
    height: calc(100vh - 56px);
    overflow: auto;
    overflow-y: scroll;
}
.sidebar-content { 
    grid-area: sidebar; 
}