.date {
    width: auto;
}

.form-label {
    width: fit-content;
}

.friend-picker {
    overflow: auto;
    overflow-y: scroll;
}

.submit {
    height: 50px;
}

.selected-friend {
    overflow: hidden;
    margin: 5px 0px 5px 0px;
    background-color: darkgreen;
}

.selected-name {
    float: left;
    color: white;
    margin: 10px;
}

.remove-friend {
    float: right;
    color: white;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

.remove-friend:hover {
    color: red;
}

.friend-results {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.friend-result a {
    display: block;
    padding: 10px 0;
    list-style-type: none;
}

.friend-result a:hover {
    color: rgb(77, 77, 77);
    background-color: aliceblue;
    overflow: hidden;
    cursor: pointer;
}

.date-time {
    height: 50px;
    font-size: 1.5em;
    font-family: sans-serif;
    color: darkgreen;
    outline: 0;
    border: 0;
    padding: 0;
}

.submit-button {
    display: flex;
    align-self: flex-end;
}

.friend-search-bar {
    height: 42px;
    font-size: 1.5em;
    vertical-align: bottom;
    outline: none;
    color: darkgreen;
    border: 0;
    padding: 0;
    border-bottom: 2pt solid darkgreen;
}

.submit-button {
    height: 50px;
    padding: 10px;
    vertical-align: bottom;
    outline: none;
    cursor: pointer;
    color: darkgreen;
    border: 0;
    border-bottom: 2pt solid darkgreen;
    font-size: 1.45em;
}